<div class="container" ng-controller="TodoCtrl">
    <div class="jumbotron">
        <h1 align="center">Todo Application</h1>
        <br>
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form ng-submit="addTodo()">
                    <input type="text" ng-model="newTodo" />
                    <button type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="singleTodo in todos">
                <label>
                    <input type="checkbox" ng-click="removeTodo(singleTodo)">
                    <strong>{{ singleTodo.value }}</strong> créé le {{ singleTodo.createdAt | date : 'dd MMMM yyyy HH:mm' }}
                </label>
            </div>
        </div>
    </div>
</div>